[Unit]
Description=Server of Earlybird alarm clock
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/earlybird/earlybird-os
ExecStart=/home/earlybird/earlybird-os/deploy/start-server.sh
User=earlybird
Group=earlybird
Restart=on-failure
RestartSec=2
ExecReload=/bin/kill -HUP $MAINPID

# Force immediate termination of all child processes
KillMode=control-group
KillSignal=SIGKILL
SendSIGKILL=yes
TimeoutStopSec=0

[Install]
WantedBy=multi-user.target