[Unit]
Description=Browser of Earlybird alarm clock
After=network-online.target earlybird-server.service graphical.target time-sync.target
Wants=network-online.target time-sync.target
Requires=earlybird-server.service

[Service]
Type=simple
User=earlybird
Group=earlybird
WorkingDirectory=/home/earlybird/earlybird-os

# Environmental variables required for X11 / Chromium
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/earlybird/.Xauthority
Environment=XDG_RUNTIME_DIR=/run/user/1000

# Allocate TTY1 and launch xinit
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
StandardInput=tty
StandardOutput=journal
StandardError=journal

ExecStart=/usr/bin/xinit /home/earlybird/earlybird-os/deploy/start-kiosk.sh -- /usr/lib/xorg/Xorg :0 vt1 -keeptty -nolisten tcp

[Install]
WantedBy=multi-user.target