[Unit]
Description=Browser of Earlybird alarm clock
After=network-online.target earlybird-server.service getty@tty1.service
Wants=network-online.target
Requires=earlybird-server.service
Conflicts=getty@tty1.service

[Service]
Type=simple
WorkingDirectory=/home/earlybird/earlybird-os
ExecStart=/usr/bin/xinit /home/earlybird/earlybird-os/deploy/start-kiosk.sh -- /usr/lib/xorg/Xorg :0 vt1 -keeptty -nolisten tcp -verbose 3 -logverbose 3
User=earlybird
Group=earlybird
StandardInput=tty
TTYPath=/dev/tty1
UnsetEnvironment=TERM
PAMName=login
Restart=on-failure
RestartSec=2
ExecReload=/bin/kill -HUP $MAINPID

# Force standard output and errors into systemd journal
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target